
.BiquadView {
    width: 290px;
    padding: 8px;
    margin: 2px;
    background-color: #f0f0f0;
    border: 1px solid #808080;

    border-radius: 4px;
}

.BiquadView-padding {
    flex: 1;
}


.BiquadView-row {
    display: flex;
    flex-order: column;
    padding-bottom: 2px;
}

.BiquadView-label {
    text-align: right;
    width: 40px;
    margin-right: 8px;
}

.BiquadView-range {
    flex: 1;
}

.BiquadView-text {
    margin-left: 8px;
    width:  80px;
}

.BiquadView-mute-switch,
.BiquadView-solo-switch {
    cursor: pointer;
    float: right;
    width: 24px;
    height: 100%;

    margin-left: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25),
                0px 0px 1px rgba(0, 0, 0, 0.25);

    color: #404040;
    border-radius: 4px;
    background-color: white;
}


.BiquadView-mute-switch.active  {
    background-color: #00a0a0;
    color: #a0ffff;
}

.BiquadView-solo-switch.active  {
    background-color: #00a000;
    color: #a0ffa0;
}