body {
    font-family: -apple-system, sans-serif;
    font-size: 13px;
}

body * {
    user-select: none;
    -webkit-user-select: none;
    -webkit-font-smoothing: inherit;
    cursor: inherit;
}

input, input * {
    user-select: auto;
    -webkit-user-select: auto;
}

#floatr-container {
    margin-left: auto;
    margin-right: auto;
    height: 320px;
    width: 960px
}

#controls {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    width: 960px;
}

#top-buttons {
    height: 32px;
    padding-right: 22px;
    display: flex;
    align-items: center;
}

#top-buttons-padding {
    flex: 1;
}

#ref-main-label {
    text-align: right;
}

#ref-gain-label {
    width: 64px;
    text-align: right;
    padding-right: 8px;
}

#ref-gain {
    width: 40px;
}

#filters {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-flow: row wrap;
}
